<div id="movie" ng-hide="film == null">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div id="navbar" class="navbar-header text-center">
        <a class="navbar-brand" href="#">{{film.name}}</a>
      </div>
    </div>
  </nav>

  <div class="movie-description">
    <div class="container-fluid">
      <div class="row row-cover">
        <div class="col-md-4">
          <div class="cover">
            <figure class="figure figure-cover">
              <img src="{{film.image}}" class="figure-img img-fluid img-rounded" alt="{{film.name}}">
            </figure>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <div class="description">
            <p><strong>Director :</strong> <span ng-repeat="director in film.people.director">{{director.first_name}} {{director.last_name}}  </span></p>
            <p><strong>Writer :</strong> <span ng-repeat="writer in film.people.writer">{{writer.first_name}} {{writer.last_name}}  </span></p>
            <p><strong>Composer :</strong> <span ng-repeat="composer in film.people.composer">{{composer.first_name}} {{composer.last_name}}  </span></p>
            <p><strong>Release date :</strong> {{film.release_date | date:"dd/MM/yyyy"}}</p>
            <p><strong>Runtime :</strong> {{film.running_time}} minutes</p>
            <p>{{film.summary}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /movie-description -->
  <div class="container-fluid">
    <!-- Example row of columns -->
    <div class="row row-actors">
      <div class="col-md-12"><h3>Acteurs</h3></div>
        <div class="clearfix">
          <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              <div class="item active">
                <div ng-repeat="actor in film.people.actor|limitTo:nbActorsActive" data-target="#carousel" data-slide-to="0" class="thumbnail thumb"><img src="{{actor.picture}}" alt="{{actor.first_name}} {{actor.last_name}} Image" class="img-responsive actor">
                  <div class="caption">
                    <h4>{{actor.first_name}} {{actor.last_name}}</h4>
                    <h5>{{actor.character}}</h5>
                  </div>
                </div>
              </div><!-- /item -->
              <div class="item" ng-repeat="i in itemsRange">
                <div ng-repeat="actor in film.people.actor|limitTo:nbActorsActive:i" data-target="#carousel" data-slide-to="0" class="thumbnail thumb"><img src="{{actor.picture}}" alt="{{actor.first_name}} {{actor.last_name}} Image" class="img-responsive actor">
                  <div class="caption">
                    <h4>{{actor.first_name}} {{actor.last_name}}</h4>
                  </div>
                </div>
              </div><!-- /item -->
            </div> <!-- /carousel-inner -->
            <a class="left carousel-control control1" href="#thumbcarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control control1" href="#thumbcarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div><!-- /carousel -->
      </div> <!-- /clearfix -->

    </div><!-- /row-actors -->

    <!-- Left and right controls -->
    <a ng-click="previousFilm()" class="left carousel-control control1" href="#myCarousel" role="button" data-slide="prev1">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a ng-click="nextFilm()" class="right carousel-control control1" href="#myCarousel" role="button" data-slide="next1">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div><!-- /container -->
</div> <!-- /movie --> 