<form name="form.filmForm" class="form-horizontal">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="form.film.name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputReleaseDate" class="col-sm-2 control-label">Release Date</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="inputReleaseDate" ng-model="form.film.releaseDate">
    </div>
  </div>
  <div class="form-group">
    <label for="inputRunningTime" class="col-sm-2 control-label">Running Time</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputRunningTime" placeholder="Running Time" ng-model="form.film.runningTime">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="form.submit()">Submit</button>
    </div>
  </div>
</form>